/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

@font-face {
    font-family: eqsans;
    src: url(../themes/fonts/Nunito/Nunito-Regular.ttf);
    }
    h1, h2, h3, h4, p, div, li, a  {
    font-family: eqsans;
    }

*{
    /* margin: 0%;
    padding: 0%;
    box-sizing: border-box; */
    font-family: 'eqsans', sans-serif;
}

.navbar{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    transition: .4s linear;
}

.navbar .logo h1{
    font-weight: 500;
    color: #fff;
}

.nav-body{
    display: flex;
}

.nav-body li{
    list-style-type: none;
    padding: 10px 20px;
}

.nav-body li a{
    text-decoration: none;
    transition: .3s linear;
    color: #fff;
}

.nav-body li a:hover{
    color: #a841ff; 
}

.btn{
    padding: 10px;
    border-radius: 4px;
    outline: navajowhite;
    border: none;
    /* color: #fff; */
    /* background: #ff4c29;  */
    /* background: transparent; */
    /* cursor: pointer; */
}

.btn:hover{
    background: #ff2a00;
}

.btn:active{
    background: #af1d00;
}

/* .primary */
 .white-ghost-button {
    margin-left: 24px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 45px;
    padding-left: 20px;
    padding-right: 20px
}

.wooden-a{
    padding: 25px 45px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 45px;
    background-image: url('../static/img/woods/wood1.jpeg');
    margin-top: 2em;
    position: relative;
    padding-right: 70px;
    color: white;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 24px center; */
}

/* arrow-right-purple.svg */

.wooden-a:after{
    content: " ";
    position: absolute;
    right: 35px;
    background-image: url(/static/icons/arrow-right-white.svg);
    width: 15px;
    height: 15px;
    top: 26px;
    background-size: contain;
    background-repeat: no-repeat;
}


 .white-ghost-button:hover {
    background-color: #fff
}

 .white-ghost-button:hover a {
    color: #000
}


.banner{
    background: url(bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.navbar.sticky{
    /* background: #1b1b1b; */
    background-image: url('../static/img/woods/wood1.jpeg');
    padding: 10px 10px;
    z-index: 1;
}

.dropdown-menu {
    background-image: url('../static/img/woods/wood1.jpeg');
    padding: 10px 10px;
    color: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.dropdown-menu .dropdown-item{
    background-image: url('../static/img/woods/wood1.jpeg');
    padding: 10px 10px;
    color: white;
}
.nav-item{
    /* margin-left: 15px;  */
    margin-left: 3.5em;
}